@font-face {
  font-family: "Comme";
  src: url("../../assets/fonts/Comme-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Comme";
  src: url("../../assets/fonts/Comme-SemiBold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Tomorrow";
  src: url("../../assets/fonts/Tomorrow-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
